.ProdImg {
  width: 100%;
}

.ProdImgBox {
  position: relative;
  width: 60%;
  padding: 10px;
  float: left;
}

.smallContainer {
  position: relative;
  width: 60%;
  left: 20%;
}

.flex {
  position: relative;
  width: 100%;
  display: flex;
}

.prodPage {
  margin-top: 20px;
}

@media (max-width: 922px) {
  .smallContainer {
    width: 95%;
    left: 2.5%;
  }
}

@media (max-width: 600px) {
  .ProdImgBox {
    width: 100%;
  }
  .flex {
    flex-direction: column;
  }
}
