.background-img {
  background-image: url("https://photos.google.com/photo/AF1QipPk9auv75_5VDvUbYSVEk8ulYE7OMr3kEaLO9dQ");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100%;
  position: absolute;
}

.center-box {
  position: absolute;
  height: 40%;
  width: 100%;
  top: 40vh;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.hpTitle {
  width: 70%;
  margin-left: 15%;
}

.white-box {
  background-color: antiquewhite;
  padding: 0 5px;
}

h4.white-box {
  padding: 10px 0;
}

.flexCenter {
  display: flex;
  justify-content: center;
}

a:link {
  text-decoration: none;
  color: #000000;
}
a:visited {
  text-decoration: none;
  color: #000000;
}
a:hover {
  text-decoration: none;
  color: #000000;
}
a:active {
  text-decoration: none;
  color: #000000;
}

@media (max-width: 700px) {
  .center-box {
    top: 25vh;
  }
}

@media (max-width: 350px) {
  #hpTitle {
    font-size: 3em;
  }
}

@media (max-width: 380px) and (min-width: 351px) {
  #hpTitle {
    font-size: 4rem;
  }
}
