.fullPage {
  position: absolute;
  top: 0;
  height: 108vh;
  width: 100%;
  z-index: -1;
}

.flex {
  position: relative;
  width: 100%;
  display: flex;
  z-index: 2;
}

.w75pc {
  width: 75%;
  padding: 0 10px;
}

@media (max-width: 1200px) {
  .w75pc {
    width: 60%;
  }
}

.whiteBox {
  padding: 20px;
  margin: 2px;
  background-color: white;
  border-radius: 8px;
}
